body{
    background-color: #3f0017;
}
.header{
    height: 95vh;
    background-image: url(images/APDT-Hero-2.jpg);
    background-size: cover;
    background-position-x: 80%;
}
#logo{
    display: inline-block;
    height: 40vw;
    width: 40vw;
}
.headerText{
    display: inline-block;
    bottom: 7vh;
    position: absolute;
    left: 7vw;
    text-align: center;
}
h1, h3{
    font-family: Staatliches, sans-serif;
}
h2{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 7vw;
}
h1{
    font-size: 20vw;
}
h3{
    color: white;
    font-size: 7vw
}
.main{
    margin: 5vw auto;
    width: 90vw;
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 5vw;
    line-height: 1.2em;
}
.description{
    width: 50vw;
    display: inline-block;
    vertical-align: top;
    margin-top: 3vw;
}
#bag{
    width: 35vw;
    height: auto;
    display: inline-block;
    margin-top: 3vw;
}
#disclaimer{
    font-size: 1vw;
    text-align: right;
}
h4{
    color: white;
    font-family: Staatliches, sans-serif;
    font-size: 6vw;
}
#cta{
    text-align: center;
    margin-top: 5vw;
}
input{
    width: 80vw;
    background-color: rgba(255,255,255,0);
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 4vw;
    font-family: 'Encode Sans Condensed', sans-serif;
}
input::placeholder{
    color: rgb(179, 179, 179);
}
#required{
    background-color: burlywood;
    border: .1em solid red;
    font-size: 2vw;
    color: red;
    line-height: 1em;
    padding: .5em;
    border-radius: .25em;
    display: none;
}
#required.empty{
    display: inline-block;
}
#thankYou{
    display: none;
    margin: 5vw;
}
#thankYou .check{
    color: green;
}
#thankYou.success{
    display: inline-block;
}
button{
    width: 50vw;
    height: 10vw;
    background-color: white;
    border: 1vw solid black;
    border-radius: 3vw;
    color: #3f0017;
    font-family: Staatliches, sans-serif;
    font-size: 5vw;
    margin-top: 2vw;
    padding: 0;
}
.footer{
    background-color: black;
    color: white;
    min-height: 10vw;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 5vw;
}
.footer p{
    padding-top: 5vw;
}
@media (min-width: 600px){
    h1{
        line-height: .8em
    }
}
@media (min-width: 900px){
    .headerText{
        text-align: right;
    }
    h1{
        font-size: 15vw;
    }
    .main{
        font-size: 4vw;
    }
    input{
        font-size: 3.5vw;
    }
    button{
        height: 8vw;
        font-size: 4vw;
    }
    .footer{
        font-size: 4vw;
    }
}
@media (min-width: 1100px){
    .main{
        font-size: 2.5vw;
    }
    .description{
        margin-top: 5vw;
    }
    input{
        font-size: 2vw;
        width: 40vw;
    }
    button{
        width: 25vw;
        height: 5vw;
        font-size: 2.5vw;
        border: .5vw solid black;
    }
    .footer{
        font-size: 3vw;
    }
}